NODE_ENV=

BOT_TOKEN=
BOT_CLIENT_ID=
DISCORD_GUILD_ID=

BACKEND_BASE_URL=
LJ_SERVICE_TOKEN=

CHANNEL_SUSPENDED_ID=

ROLE_MODERATOR=
ROLE_BACKEND=
ROLE_CIV6=
ROLE_CIV7=
ROLE_CIV6_NOVICE=
ROLE_CPL_TOURNAMENT=
ROLE_CPL_CLOUD=
ROLE_CPL_NOVICE_MANAGER=
ROLE_CPL_COACH=
ROLE_SUSPENDED=

REQUEST_TIMEOUT_MS=10000
